<br><br><br><br><br><br>
<div class="container-fluid">

  <div class="row text-center">

    <div class="col-7 mx-auto">

      <div class="row">
        <div class="col-7 mx-auto text-center">
          <h3>ORARI RIFUGIO ARZAGO D'ADDA:</h3><br>
          <table borderColor=white  cellSpacing=0 cellPadding=10 width="75%" align= center border=5>
            <tr><td>
            Lunedì: solo su appuntamento<br>
            Martedi: dalle 14:00 alle 18:00<br>
            Mercoledì: solo su appuntamento<br>
            Giovedì: dalle 14:00 alle 18:00<br>
            Sabato: dalle 14:30 alle 17:00<br>
            Domenica: dalle 14:30 alle 17:00<br>
           </td></tr></table>
        </div>

      </div>

    </div>

  </div>
</div>

