<br><br><br>
<div class="container-fluid">

  <img src="assets/imgs/dog.png" class="fixed mr-2">

  <div class="row">
    <div class="col-6 mx-auto">
      <h3 class="text-center">La nostra storia</h3>
      <p class="text-center">
        La Fondazione Baratieri nasce dall’amore di due sorelle milanesi, le contesse Clementina e Clotilde Baratieri, verso gli animali.
        Questo amore risale alla loro giovinezza; nell’adolescenza anziché uscire con le amiche e andare alle feste, hanno sempre preferito dedicare il loro tempo ai cani abbandonati rinunciando anche ad una loro vita privata.
        La loro casa, nel centro di Milano, è stata per anni il rifugio di centinaia di cani “senza tetto”.  Se ne sono occupate per tutta la vita: Clementina fino al 1995 e Clotilde fino al 1999.
        L'amore per gli animali ha avuto la sua massima espressione nelle ultime volontà delle Baratieri, che con testamento hanno destinato, primo caso in Italia, tutto il loro patrimonio, attraverso una fondazione che avrebbe dovuto dotarsi di un canile, all’assistenza dei cani abbandonati a cominciare da quelli che già possedevano.
        La Fondazione Baratieri si è costituita nel 2000. "..Opera nel settore dell’ambiente e della tutela degli animali, al fine di favorire il corretto rapporto fra questi, l’ambiente e l’uomo, e si prende cura, in particolare, dei cani abbandonati e a rischio di abbandono.." (Art. 3 dello Statuto).
        La Fondazione non ha fini di lucro e persegue esclusivamente finalità di solidarietà e di utilità sociale.
        La Fondazione ha avviato un programma di attività per far fronte al problema dell’abbandono mediante azioni finalizzate a prevenire le cause e ovviare alle conseguenze dell’abbandono (formazione, promozione delle adozioni, affidi temporanei etc.).
        Dopo aver affrontato e risolto numerosi e complessi problemi connessi all’eredità Baratieri, la Fondazione ha finalmente potuto dotarsi di una Struttura-rifugio d'eccellenza ad Arzago D'Adda, di dimensioni tali da poter ospitare fino a 200 cani.
        Enti rappresentati e sostenitori Prefettura di Milano - Regione Lombardia - Comune di Milano -  Enpa, Ente Nazionale Protezione Animali Comune di Arzago d'Adda
      </p>
    </div>
  </div>
</div>
