<br><br><br><br><br><br>
<div class="container-fluid">

  <div class="row text-center">

    <div class="col-7 mx-auto">

      <h3 class="text-center">Dove siamo:</h3>

      <div class="row">
        <div class="col-7 mx-auto text-center">
          STRADA CONSORTILE ALLA SCORTICA<br>
          24040 ARZAGO D'ADDA (BG)<br>
          Per  informazioni  telefonare a Cristina  347 780 10 76 o<br>
          andare su <a href="https://www.google.it/maps/place/Fondazione+Baratieri+Onlus/@45.471611,9.5601223,17z/data=!3m1!4b1!4m5!3m4!1s0x47813676e4de08ef:0x4aa7d995302753ee!8m2!3d45.471611!4d9.562311">Google Maps</a><br>
        </div>

        <div class="col-12 text-center sticky-top">
          <br>

          <img class="img-fluid ml-auto rounded border border-light" src="assets/imgs/mappa.png" width="900">
        </div>

      </div>

    </div>

  </div>
</div>
