<br><br><br><br><br><br>
<div class="container-fluid">

  <div class="row">

    <div class="col mx-auto" *ngFor="let dog of dogs">

      <div class="card text-dark" style="width:400px">
        <img class="card-img-top" [src]="getSrc(dog._id)" alt="Dog pic">
        <div class="card-body">
          <h4 class="card-title">{{dog.name}}</h4>
          <p *ngIf="dog.description != ''" class="card-text">{{dog.description}}</p>
        </div>
      </div>
      <br>

    </div>

  </div>

</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
